@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --base-color: white;
  --text-color: #404040;
  --input-color: #dcedff;
  --wic-blue: #014282;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
}

.right-column {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 51px;
  margin-bottom: 10px;
  font-family: monospace;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 30px;
}
.btn-group{
max-width: 290px;
}
button img.icon {
  margin-right: 10px;
  width: 15px;
}
form div.incorrect input{
  border-color: #f06272;
}
.error-message{
  color: #f06272;
  margin-top: 20px;
}
.google-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.apple-btn {
  color: #fff;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  font-weight: 600;
}
.apple-btn:hover {
  background: #e3e2e2;
}
.create-account-btn {
  background-color: #1da1f2;
  color: white;
}

.or {
  text-align: center;
  margin: 10px 0;
  color: #555;
}

.terms {
  font-size: 12px;
  color: #555;
  margin-top: 20px;
}

.terms a {
  color: #1da1f2;
  text-decoration: none;
}

.signin-text {
  font-size: 14px;
  margin: 77px 0 20px;
  font-weight: 700;
}

.signin-btn {
  background-color: transparent;
  color: #1da1f2;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
}
/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 460px;
  position: relative;
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-header p {
  font-size: 14px;
  margin-left: 15px;
  font-weight: 600;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.small {
  font-size: 12px;
  margin-top: 5px;
}

.toggle-link {
  color: #1da1f2;
  cursor: pointer;
  font-size: 12px;
  text-align: end;
  margin-top: 8px;
}
.dob-label {
  font-weight: 600;
}
.label-text {
  margin-bottom: 5px;
  font-size: 12px;
}
.dob-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.dob-container select:focus-visible {
  border: 1px solid #1da1f2;
  outline-color:#1da1f2 ;
}
.hidden {
  display: none;
}
.dob-select {
  width: 100%;
  padding: 22px 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-next-btn {
  background-color: grey;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 85px;
}
.modal-next-btn:hover {
  background: black;
}
.modal-content {
  padding: 30px 30px 0;
}





/* Input Container */
.input-container {
  position: relative;
  margin-top: 20px;
}

/* Label styling */
.input-label {
  position: absolute;
  top: 28px;
  left: 10px;
  font-size: 16px;
  color: #888;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

/* Input field */
.input-field {
  width: 100%;
  padding: 10px;
  padding-top: 20px; /* Make room for label */
  padding-right: 60px; /* Make room for character counter */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}
input:focus {
  border: 1px solid #1da1f2;
}
/* Shrinking effect when input is focused or valid */
#modal-1 .input-field:focus + .input-label, #modal-1 .input-field:valid + .input-label, #modal-5 .input-field:focus + .input-label, #modal-5 .input-field:valid + .input-label, #modal-6 .input-field:focus + .input-label, #modal-6 .input-field:valid + .input-label {
  top: 17px;
  left: 12px;
  font-size: 12px;
  color: #1da1f2;
}


/* Character limit styling inside input */
.char-count {
  position: absolute;
  right: 10px;
  top: 37px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #888;
  display: none;
}

/* Show character count when input is focused */
.input-field:focus ~ .char-count,
.input-field:not(:placeholder-shown) ~ .char-count {
  display: inline;
}


/* modal 2 styles */
#modal-2 h3 {
  font-size: 17px;
  margin-bottom: 20px;
}
#modal-2 .terms p {
  font-size: 13px;
  color: #7f7f7f;
  margin-bottom: 20px;
  max-width: 95%;
}
.para-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.para-checkbox input[type="checkbox"] {
  margin-top: 4px;
}

/* modal 3 styles */
#modal-3 .terms {
  margin-top: 75px;
}
#modal-3 .modal-next-btn {
  background-color: rgb(20, 109, 217);
  margin-top: 20px;
}
#modal-3 .close-btn, #modal-5 .close-btn, #modal-6 .close-btn {
  font-size: 16px;
}

#modal-3 .input-label {
  top: 17px;
  left: 12px;
  font-size: 12px;
}
#modal-3 .input-checkbox {
  position: absolute;
  right: 14px;
  top: 28px;
}
/* ///////////// */
#modal-3 input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid green;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

#modal-3 input[type="checkbox"]:checked {
  background-color: green;
}

#modal-3 input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  top: 2px;
  left: 4px;
  transform: rotate(45deg);
}

.select-container {
  position: relative;
}
.dob-select-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dob-select-wrapper {
  flex: 1;
}

.dob-select-label {
  position: absolute;
  top: 7px;
  left: 10px;
  font-size: 13px;
  color: #888;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
.month-container{
  flex-basis: 50%;
}
.day-container, .year-container{
  flex: 1;
}

/* Modal 4 styles */
#modal-4 .modal-header {
  max-width: fit-content;
}

#modal-4 .logo {
  max-width: 20px;
  position: absolute;
  top: 18px;
  left: 48%;
}
#modal-4 .modal-next-btn {
  background-color: #120f0f;
}
#modal-4 .modal-content {
  text-align: center;
}
.authenticate-logo {
  max-width: 100px;
  margin-bottom: 20px;
}


#modal-5 h2 {
  margin-bottom: 10px;
}
#modal-5 .button-back {
  background: transparent;
  color: #1da1f2;
  padding: 0;
  font-size: 13px;
  text-transform: capitalize;
  justify-content: flex-start;
  margin-top: 5px;
  font-weight: 700;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 62%;
  transform: translateY(-50%);
  cursor: pointer;
}
img#toggle-password {
  width: 15px;
}